<h1>See All Dragons </h1>

<div>
  <% @dragons.each do |dragon| %>

    <li> <%= link_to dragon.name, dragons_path(dragon) %> </li>
  <% end %>
</div>

<%= link_to "Create a Dragon", new_dragon_path %>
