<h1>See All Our Dragons </h1>

<ul>
  <% @dragons.each do |dragon| %>
    <li> <%= link_to dragon.name, dragon_path(dragon) %> </li>
  <% end %>
</ul>

<%= link_to "Create a Dragon", new_dragon_path %>
