<h1>See All Dragons </h1>

<div class="cards">
  <% @dragons.each do |dragon| %>
  <%= render "layouts/shared/card_index", dragon: dragon  %>
  <% end %>
</div>

<%= link_to "Create a Dragon", new_dragon_path %>
