.footer, .fas {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.quote {
  opacity: 0.4;
  font-size: 20px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
